@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'delirium';
  src:
    url('~@assets/fonts/deliriumncv-vm5e-webfont.woff2') format('woff2'),
    url('~@assets/fonts/deliriumncv-vm5e-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'delirium-neon';
  src:
    url('~@assets/fonts/deliriumneonncv-j1ak-webfont.woff2') format('woff2'),
    url('~@assets/fonts/deliriumneonncv-j1ak-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: #10d0a3;
  --color-primary-dark: #76a118;

  --color-low: #e64a19;

  --color-middle: #f7ec79;

  --color-input: #fdfdfd;
  --color-input-dark: #e8f0fe;

  --color-background: #f0f0f0;
  --color-background-dark: #0a192e;

  --color-secondary-background: #ffffff;
  --color-secondary-background-dark: #051d3e;

  --color-button: #0a192e;
  --color-button-dark: #4e4ee4;

  --color-green-gradient: #81ffa5;

  --font-delirium: delirium;
  --font-delirium-neon: delirium-neon;

  --animate-bounce-left: bounce-left 1s infinite ease-in-out; 
}

@media (max-width: 768px) {
  .home-bg-img {
    background-image: url('/assets/images/home-sm-bg.webp');
  }
}

@media (min-width: 769px) {
  .home-bg-img {
    background-image: url('/assets/images/home-lg-bg.webp');
  }
}

.active-nav-text {
  color: #10d0a3;
}

.active-nav-icon {
  border: 2px solid #10d0a3;
  border-radius: 4px;
}

.inset-button {
  border-left: 1px solid black;
  border-top: 1px solid black;
  transform: translate(1px, 1px);
}

.modal-slide {
  animation-name: modal-slide, modal-slide;
  animation-direction: normal, reverse;
  animation-duration: 0.5s, 0.5s;
  animation-iteration-count: 1, 1;
  animation-delay: 0s, 3s;
  animation-play-state: running, running;
  transition: 0.3s;
}

@keyframes modal-slide {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.loader {
  aspect-ratio: 1;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: loading-rotate 1s infinite linear;
}
@keyframes loading-rotate {
  to {
    transform: rotate(1turn);
  }
}

.modal-form-bg {
  background-color: rgba(100, 100, 100, 0.5);
}

@keyframes bounce-left {
  0% {
    transform: scale(1, 1) translateX(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateX(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateX(-15px);
  }
  50% {
    transform: scale(1.05, 0.95) translateX(0);
  }
  57% {
    transform: scale(1, 1) translateX(-7px);
  }
  64% {
    transform: scale(1, 1) translateX(0);
  }
  100% {
    transform: scale(1, 1) translateX(0);
  }
}
